# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/vcs.xml
/modules.xml
/misc.xml
/mini-store.iml
/dataSources.xml
/encodings.xml
/jarRepositories.xml
/compiler.xml
